/* //mobile layout for our burger */
.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    /* to make sure the burger doesnt fill the page and you can just scroll if zoom is needed */
    overflow:scroll; 

    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* now lets create a media query for the sake of other devices */

@media(min-width:1000px) and (min-height:700px){
    .Burger{
        width: 750px;
        height: 600px;
    }
}

@media(min-width:500px) and (min-height:401px){
    .Burger{
        width: 450px;
        height: 400px;
    }
}
/* devices in potrait mode */
@media(min-width:500px) and (min-height:400px){
    .Burger{
        width: 350px;
        height: 300px;
    }
}
